<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="/_fragments :: nav(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="nav-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="nav-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="nav-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="nav-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="nav-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <i class="search link icon"></i>
                    <input type="text" placeholder="搜索">
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="button" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange m-inline-block m-text-thin header">14</h2> 个
                </div>
            </div>
        </div>
        <!--分类列表-->
        <div class="ui attached segment m-padded-tb-large ">
            <div class="ui labeled button m-margin-tb-tiny ">
                <a href="#" class="ui teal button">思考与感悟</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>

            <div class="ui labeled button m-margin-tb-tiny ">
                <a href="#" class="ui basic button">思考与感悟</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny ">
                <a href="#" class="ui basic button">思考与感悟</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny ">
                <a href="#" class="ui basic button">思考与感悟</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny ">
                <a href="#" class="ui basic button">思考与感悟</a>
                <div class="ui basic  left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny ">
                <a href="#" class="ui basic button">思考与感悟</a>
                <div class="ui basic  left pointing label">24</div>
            </div>

        </div>

        <!--博客列表-->
        <div class="ui top attached teal padded segment">
            <div class="ui padded vertical segment  m-padded-lr-clear ">
                <div class="ui padded mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你了解什么是真真的财富自由吗</h3>
                        <p class="m-text">财富并非永久的朋友，朋友却是永久的财富。财富与贫穷，一个是奢华和懒惰之母，另一个是卑劣与恶毒之母，而两者都是不知满足的源头.....</p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">JiangLi</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2017-10-01
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>1223
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank"
                                   class="ui teal label basic m-padded-tiny m-text-thin">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1012/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment   m-padded-lr-clear ">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你了解什么是真真的财富自由吗</h3>
                        <p class="m-text">财富并非永久的朋友，朋友却是永久的财富。财富与贫穷，一个是奢华和懒惰之母，另一个是卑劣与恶毒之母，而两者都是不知满足的源头.....</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">JiangLi</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2017-10-01
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>1223
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank"
                                   class="ui teal label basic m-padded-tiny m-text-thin">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1012/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment   m-padded-lr-clear ">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你了解什么是真真的财富自由吗</h3>
                        <p class="m-text">财富并非永久的朋友，朋友却是永久的财富。财富与贫穷，一个是奢华和懒惰之母，另一个是卑劣与恶毒之母，而两者都是不知满足的源头.....</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">JiangLi</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2017-10-01
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>1223
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank"
                                   class="ui teal label basic m-padded-tiny m-text-thin">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1012/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment   m-padded-lr-clear ">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你了解什么是真真的财富自由吗</h3>
                        <p class="m-text">财富并非永久的朋友，朋友却是永久的财富。财富与贫穷，一个是奢华和懒惰之母，另一个是卑劣与恶毒之母，而两者都是不知满足的源头.....</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">JiangLi</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2017-10-01
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>1223
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank"
                                   class="ui teal label basic m-padded-tiny m-text-thin">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1012/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment   m-padded-lr-clear ">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你了解什么是真真的财富自由吗</h3>
                        <p class="m-text">财富并非永久的朋友，朋友却是永久的财富。财富与贫穷，一个是奢华和懒惰之母，另一个是卑劣与恶毒之母，而两者都是不知满足的源头.....</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">JiangLi</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2017-10-01
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>1223
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank"
                                   class="ui teal label basic m-padded-tiny m-text-thin">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1012/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment   m-padded-lr-clear ">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你了解什么是真真的财富自由吗</h3>
                        <p class="m-text">财富并非永久的朋友，朋友却是永久的财富。财富与贫穷，一个是奢华和懒惰之母，另一个是卑劣与恶毒之母，而两者都是不知满足的源头.....</p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header">JiangLi</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2017-10-01
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>1223
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank"
                                   class="ui teal label basic m-padded-tiny m-text-thin">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1012/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--分页-->
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui teal basic mini button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui teal basic mini button">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<footer th:replace="/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-line m-text-spaced m-text-thin">最新博客</h4>
                <div class="ui inverted link list m-opacity-mini m-text-line m-text-spaced m-text-thin">
                    <a href="#" class="item">最新故事（User Stroy）</a>
                    <a href="#" class="item">关于刻意练习的清单</a>
                    <a href="#" class="item">失败要趁早</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-line m-text-spaced m-text-thin">联系我</h4>
                <div class="ui inverted link list m-opacity-mini m-text-line m-text-spaced m-text-thin">
                    <a href="#" class="item">Email：lirenmi@163.com</a>
                    <a href="#" class="item">QQ：909278799</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-line m-text-spaced m-text-thin">ShanGuangFF</h4>
                <p class="m-text-line m-text-spaced m-text-thin m-opacity-tiny">总有起风的清晨,总有暖和的午后,总有绚丽的黄昏,总有有流星的夜晚</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-tiny m-text-line m-text-spaced m-text-thin">Copyright © 2020-2021 ApeNixX All Rights
            Reserved V.3.1.3 粤ICP备20013507号</p>
    </div>
</footer>
<!--/*/<th:block th:replace="/_fragments :: script">/*/-->
<script src="../static/js/Jquery/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.nav-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>